$font-main:'Barlow Semi Condensed',
sans-serif;
$violet-color:#7541c8;
$grey-color: #48556a;
$light-grey-color: #cfcfcf;
$white-color: #fff;
$bg-color: #ecf2f8;
$black-color: #19212e;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
}

.container {
    max-width: 1024px;
    margin: 50px auto;

}

.testimonials {
    font-family: $font-main;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "violet-area violet-area grey-area white-tall-area"
        "white-area black-area black-area white-tall-area";
    color: $white-color;

    &__item {
        border-radius: 5px;
        padding: 20px;

        &--violet {
            background-color: $violet-color;
            grid-area: violet-area;
        }

        &--grey {
            background-color: $grey-color;
            grid-area: grey-area;
        }

        &--tall {
            background-color: $white-color;
            grid-area: white-tall-area;

        }

        &--white {
            background-color: $white-color;
            grid-area: white-area;
        }

        &--black {
            background-color: $black-color;
            grid-area: black-area;
        }
    }

    &__heading {
        margin: 16px 0;
    }

    &__heading--black {
        color: $black-color;
    }

    &__desc {
        color: $light-grey-color;
    }

    &__desc--grey {
        color: $grey-color;
    }
}

.author {
    display: flex;
    align-items: center;

    &__name--black {
        color: $black-color;
    }

    &__avatar {
        margin-right: 16px;

        img {
            object-fit: cover;
            width: 80px;
            height: 80px;
            border-radius: 50%;

        }
    }

}