$font-main:'Barlow Semi Condensed',
sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.testimonials {
    font-family: $font-main;
}

.author__avatar {
    width: 100px;
    width: 100px;

}